---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.1
  name: mavenartifacts.source.apps.tanzu.vmware.com
spec:
  group: source.apps.tanzu.vmware.com
  names:
    kind: MavenArtifact
    listKind: MavenArtifactList
    plural: mavenartifacts
    singular: mavenartifact
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.artifact.artifactId
      name: Artifact
      type: string
    - jsonPath: .status.artifact.url
      name: URL
      type: string
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    - jsonPath: .status.conditions[?(@.type=="Ready")].reason
      name: Reason
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: MavenArtifact is the Schema for the mavenartifacts API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: MavenArtifactSpec defines the required configuration to provide
              a MavenArtifact from MavenRepository
            properties:
              artifact:
                description: Maven Artifact defines meta Type
                properties:
                  artifactId:
                    description: Artifact identifier
                    type: string
                  classifier:
                    description: Classifier distinguishes artifacts that were built
                      from the same POM but differed in content
                    type: string
                  groupId:
                    description: Artifact Group ID
                    type: string
                  type:
                    description: Package type (jar, war, pom), defaults to jar
                    type: string
                  version:
                    description: 'Artifact Version The version element identifies
                      the current version of the artifact. Supported values: "0.1.2"
                      (version) and "RELEASE" Unsupported values: "LATEST", "SNAPSHOT"
                      and Maven Version Ranges https://maven.apache.org/enforcer/enforcer-rules/versionRanges.html'
                    type: string
                required:
                - artifactId
                - groupId
                - version
                type: object
              interval:
                description: Interval at which to check the repository for updates.
                type: string
              repository:
                description: Repository defines the parameters for accessing a repository
                properties:
                  secretRef:
                    description: "SecretRef can be given the name of a secret containing
                      Authentication data. \n For Basic Authentication use - username:
                      <BASE64> password: <BASE64> \n For mTLS authenticationa use
                      - certFile: <BASE64> a PEM-encoded client certificate - keyFile:
                      <BASE64> private key \n For a Certificate Authority to trust
                      while connecting use - caFile: <BASE64> a PEM-encoded CA certificate"
                    properties:
                      name:
                        description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                          TODO: Add other useful fields. apiVersion, kind, uid?'
                        type: string
                    type: object
                    x-kubernetes-map-type: atomic
                  url:
                    description: URL is the HTTPS address of the repository. HTTP
                      is not supported.
                    type: string
                required:
                - url
                type: object
              timeout:
                description: Timeout for artifact download operation. Defaults to
                  'Interval' duration.
                type: string
            required:
            - artifact
            - interval
            - repository
            type: object
          status:
            description: MavenArtifactStatus defines the observed state of MavenArtifact
            properties:
              artifact:
                description: Artifact represents the output of the last successful
                  repository sync.
                properties:
                  checksum:
                    description: Checksum is the SHA1 checksum of the artifact.
                    type: string
                  lastUpdateTime:
                    description: LastUpdateTime is the timestamp corresponding to
                      the last update of this artifact.
                    format: date-time
                    type: string
                  path:
                    description: Path is the relative file path of this artifact.
                    type: string
                  revision:
                    description: Revision is a human readable identifier traceable
                      in the origin source system. It can be a Git commit SHA, Git
                      tag, a Helm index timestamp, a Helm chart version, etc.
                    type: string
                  url:
                    description: URL is the HTTP address of this artifact.
                    type: string
                required:
                - path
                - url
                type: object
              conditions:
                description: Conditions the latest available observations of a resource's
                  current state.
                items:
                  description: "Condition contains details for one aspect of the current
                    state of this API Resource. --- This struct is intended for direct
                    use as an array at the field path .status.conditions.  For example,
                    \n type FooStatus struct{ // Represents the observations of a
                    foo's current state. // Known .status.conditions.type are: \"Available\",
                    \"Progressing\", and \"Degraded\" // +patchMergeKey=type // +patchStrategy=merge
                    // +listType=map // +listMapKey=type Conditions []metav1.Condition
                    `json:\"conditions,omitempty\" patchStrategy:\"merge\" patchMergeKey:\"type\"
                    protobuf:\"bytes,1,rep,name=conditions\"` \n // other fields }"
                  properties:
                    lastTransitionTime:
                      description: lastTransitionTime is the last time the condition
                        transitioned from one status to another. This should be when
                        the underlying condition changed.  If that is not known, then
                        using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: message is a human readable message indicating
                        details about the transition. This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: observedGeneration represents the .metadata.generation
                        that the condition was set based upon. For instance, if .metadata.generation
                        is currently 12, but the .status.conditions[x].observedGeneration
                        is 9, the condition is out of date with respect to the current
                        state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: reason contains a programmatic identifier indicating
                        the reason for the condition's last transition. Producers
                        of specific condition types may define expected values and
                        meanings for this field, and whether the values are considered
                        a guaranteed API. The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                        --- Many .condition.type values are consistent across resources
                        like Available, but because arbitrary conditions can be useful
                        (see .node.status.conditions), the ability to deconflict is
                        important. The regex it matches is (dns1123SubdomainFmt/)?(qualifiedNameFmt)
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              observedGeneration:
                description: ObservedGeneration is the 'Generation' of the resource
                  that was last processed by the controller.
                format: int64
                type: integer
              url:
                description: URL is the download link for the artifact output of the
                  last repository sync.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
